@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  font-family: 'Poppins', sans-serif;
}

.heroComponent-container {
    display: flex;

    // .hero-sider {}

    .hero-content {
        width: 93vw;

        // margin-left: 150px;
        .hero-carousel {
            position: fixed;
            z-index: -1;
            left: 0;
            width: 100vw;
        }

        .hero-overlay {
            min-height: 100vh;
            max-height: 100vh;
            background: linear-gradient(180deg,
                    rgba(0, 0, 0, 0.8) 0%,
                    rgba(0, 0, 0, 0.2) 10%,
                    rgba(0, 0, 0, 0.0) 100%),
                linear-gradient(to right,
                    rgba(0, 0, 0, 0.5) 0%,
                    rgba(0, 0, 0, 0.2) 50%,
                    rgba(0, 0, 0, 0.0) 100%);
            position: absolute;
            z-index: -1;
            width: 100vw;
            color: white;
            right: 0;
            text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px; 
        }

        .body-container {
            margin-top: 100vh;
            background: linear-gradient(277deg, rgba(24,29,54,1) 0%, rgba(20,21,26,1) 37%);
            position: absolute;
            z-index: -1;
            width: 100vw;
            color: white;
            right: 0;
            box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.8);
        }
    }
}




  
  
//   .card-container {
//     max-width: 1300px;
//     margin: 0 auto;
//     display: grid;
//     grid-gap: 50px;
//     grid-template-columns: repeat(7, 1fr); /* Adjust the number of columns as needed */
//   }
  
//   .card {
//     width: 100%;
//     padding: 15px;
//     background-color: #fff; /* Adjust background color as needed */
//     border-radius: 8px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
//     text-align: center;
//     position: relative; /* Add position relative to create a stacking context */
//   }

.moviecard{
    width: 100%;
    padding: 15px;
     background-color: #fff; /* Adjust background color as needed */
     border-radius: 8px;
     text-align: center;
     margin:24px 0px;
     min-height: 350px;
     max-height: 350px;
     transition: .5s;
     
}

  
  .card-image {
    border-radius: 8px;
    margin-bottom: 10px;
    width: inherit;
    object-fit: contain;
    height: 250px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: black;
  }
  
  .release-date {
    font-size: 14px;
    color: #555;
  }
  
  .additional-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card:hover .additional-text {
    display: block;
  }
  
  
  



:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    color: #000;
    font-weight: 500;
    font-family: inherit;
    background-color: #D7d523;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
  
  .preloader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999999;
    background-color: #252525;
  }
  .preloader-inner {
      width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .loader__text {
      
          margin: 5px auto;
          color: #ffffff;    
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 12px;
      }
      .loader__filmstrip {
          position: relative;
          width: 56px;
          height: 70px;
          background:#ffffff;
          z-index: -1;
          &:before, &:after {
              content: '';
              position: absolute;
              height: 120%;
              border-left: 5px dashed #252525;
              animation: roll 0.4s infinite;
                 
          }
           &:before {left: 5px;}
          &:after {right: 5px;}
      }
  
  @keyframes roll {
      0% {top: 0px;}
      100% {top: -15px;}
  }


*,
::after,
::before {
	box-sizing: border-box
}

html {
	scroll-behavior: smooth
}

a:hover {
	text-decoration: unset !important;
	color: #6C4DD5
}

.displayFlex {
	display: flex !important
}

.displayInlineFlex {
	display: inline-flex !important
}

.deskFlex_mobileBlock {
	display: flex
}

.displayBlock {
	display: block
}

.justify_content_end {
	justify-content: flex-end
}

.justify_content_center {
	justify-content: center
}

.AlignItem_center {
	align-items: center
}

.AlignItem_stretch {
	align-items: stretch
}

.AlignItem_baseline {
	align-items: baseline
}

.AlignItem_start {
	align-items: flex-start
}

.justifyContent_spacebetween {
	justify-content: space-between
}

.justifyContent_spaceEvenly {
	justify-content: space-evenly
}

.flexDirection_column {
	flex-direction: column
}

.flexWrap {
	flex-wrap: wrap
}

.textAlign_center {
	text-align: center
}

.textAlign_right {
	text-align: right
}

.textAlign_left {
	text-align: left
}

.height100per {
	height: 100%
}

.height40 {
	height: 40px
}

.width100per {
	width: 100%
}

.width200 {
	width: 200px
}

.width18 {
	width: 18px !important
}

.width20 {
	width: 20px !important
}

.width24 {
	width: 24px !important
}

.width28 {
	width: 28px !important
}

.gap_12 {
	gap: 12px
}

.gap_16 {
	gap: 16px
}

.gap_20 {
	gap: 20px
}

.gap_30 {
	gap: 30px
}

.gap_6 {
	gap: 6px
}

.emptyList {
	margin: 0;
	list-style: none;
	padding: 0
}

.positionRelative {
	position: relative
}

button:focus {
	outline: unset
}

.width297 {
	width: 297px
}

.width60 {
	width: 60px
}

.whiteText {
	color: #FFF;
	line-height: 1.5;
	margin: 0
}

.rightZero {
	right: 0
}

.leftZero {
	left: 0
}

.blackText {
	color: #000;
	line-height: 1.5;
	margin: 0
}

.fontSize12 {
	font-size: 12px
}

.fontSize14 {
	font-size: 14px
}

.fontSize15 {
	font-size: 15px
}

.fontSize16 {
	font-size: 16px
}

.fontSize18 {
	font-size: 18px
}

.fontSize20 {
	font-size: 20px
}

.fontSize22 {
	font-size: 22px
}

.fontSize24 {
	font-size: 24px
}

.fontSize28 {
	font-size: 28px
}

.fontSize30 {
	font-size: 30px
}

.fontSize34 {
	font-size: 34px
}

.fontSize40 {
	font-size: 40px
}

.fontSize44 {
	font-size: 44px
}

.fontWeight300 {
	font-weight: 300
}

.fontWeight400 {
	font-weight: 400
}

.fontWeight500 {
	font-weight: 500
}

.fontWeight600 {
	font-weight: 600
}

.fontWeight700 {
	font-weight: 700
}

.cursorPointer {
	cursor: pointer
}

.margin_auto {
	margin: auto
}

.ml_min34 {
	margin-left: -34px
}

.mb_24 {
	margin-bottom: 24px !important
}

.mb_20 {
	margin-bottom: 20px !important
}

.mb_34 {
	margin-bottom: 34px !important
}

.mb_40 {
	margin-bottom: 40px !important
}

.mb_50 {
	margin-bottom: 50px !important
}

.mb_32 {
	margin-bottom: 32px !important
}

.mb_12 {
	margin-bottom: 12px !important
}

.mb_5 {
	margin-bottom: 5px !important
}

.pb_12 {
	padding-bottom: 12px
}

.pb_16 {
	padding-bottom: 16px
}

.pb50 {
	padding-bottom: 50px
}

.mb_16 {
	margin-bottom: 16px !important
}

.paddinglr_50 {
	padding: 0 50px
}

.textDecoration_underline {
	text-decoration: underline !important
}

.textDecoration_underline_unset {
	text-decoration: unset !important
}

.plr_24 {
	padding: 0 24px
}

.mlr_16 {
	margin-left: 16px;
	margin-right: 16px
}

.pl_16 {
	padding-left: 16px
}

.plr_44 {
	padding: 0 44px !important
}

.plr20_ptb8 {
	padding: 8px 20px
}

.deskNone_mobBlock {
	display: none
}

.cerebralGrey_borderBottom {
	border-bottom: 1px solid #CCC
}

.zIndex999 {
	z-index: 999
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px
	}
  .ReactModal__Content{
    width: 100%;
  }
}

@media (min-width: 1400px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		max-width: 1320px
	}
}


.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-1wuilmg-MuiAutocomplete-root .MuiOutlinedInput-root{
    background: #252833;
    color: #ffffff;
    border: none;
 }
  .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-1wuilmg-MuiAutocomplete-root .MuiOutlinedInput-root::placeholder{
    color: #8F98B2 !important;
  }
  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color: #8F98B2 !important;
  }

  .css-1wuilmg-MuiAutocomplete-root {
    width: 100% !important;
  }

  
  .pt20{padding-top: 20px;}

  .filter_label label{
color: #8F98B2;
padding: 10px;
font-weight: normal;
font-size: 14px;
  }
  .filter_label select , .filter_label input{
    background: unset;
    border: 2px solid #252833;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    font-weight: normal;
    font-size: 14px;
    margin-left: 5px;
  }
.filter_label select option{
    background: #252833;
}

.filter_btn{
    gap: 10px;
}
.filter_btn button{
  margin-top: 5px;
}

.search_btn{
    background: #E1E6F0;
    color: #252525;
    transition: 0.5s ease-in-out;
    font-size: 14px;
}
.close_btn{
    background: rgba(255, 255, 255, 0.08);
    font-size: 14px;
}
.search_btn:hover{
    box-shadow:  rgba(46, 252, 255,0.35) 0px 5px 15px;
    background: transparent;
    color: #ffffff;
    transition: 0.5s ease-in-out;
}

.additional-text {
    display: none;
    width: 120%;
    height: 120%;
    min-height: 130%;
    position: absolute;
    top: 50%;
    transform: translate(-42%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    z-index: 9999;
    transition: all .2s ease-in-out !important; 
   text-align: left;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .moviecard:hover .additional-text {
    display: block;
    transition: all .2s ease-in-out !important; 
  }
  .additional-image{
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: scale-down;
    width: 100%;
    height: 200px;
  }

  .moviecard:hover{
    transform: translateY(-7px);
    transition: .5s;
    box-shadow: rgba(46, 252, 255,0.25) 0px 14px 28px, rgb(24,29,54,0.22) 0px 10px 10px;
    box-shadow: rgba(46, 252, 255,0.3) 0px 19px 38px, rgba(46, 252, 255,0.22) 0px 15px 12px;
}
.additional-text h4{
    font-size: 16px;
    margin-bottom: 5px;
    color: #252525;
}
.additional-text span{
    font-size: 14px;
    color: #213547;
    line-height: 1.5;
}


.hero-overlay h1{
  font-weight: 400;
}

.swipedown-msg{
  margin-top: 73vh;
  position: absolute;
  margin-right: 69vw;


}

.no_movie_card{
  position: absolute;
  display: flex;
  top: 40%;
  /* background-color: inherit; */
  left: 42%;
  background: #171d37;
  width: 400px;
  height: 160px;
  border: 5px solid #243964;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  animation: floatAnimation 1s infinite alternate ease-in-out; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.no_movie_card div{
  position: relative;
  bottom: 5px;
  color: #e1e6f0;
}

@keyframes floatAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px); 
  }
}


.dashboard {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
  background-color: rgb(214, 214, 80);

}


.message {
  background-color: darkgrey;
  border: black 1px solid;
  border-radius: 5px;
  margin-bottom: 5px; /* Add space between messages */
  padding: 5px; /* Add padding for better visual appearance */
  width: 100%; /* Use 100% width */
}




:root {
  --switches-bg-color: #D7d523;
  --switches-label-color: #000000 ;
  --switch-bg-color: white;
  --switch-text-color: #000000 ;
}



.switches-container {
  width: 16rem;
  position: relative;
  display: flex;
  padding: 0;
  position: relative;
  background: var(--switches-bg-color);
  line-height: 3rem;
  border-radius: 3rem;
  margin-left: auto;
  margin-right: auto;
}

/* input (radio) for toggling. hidden - use labels for clicking on */
.switches-container input {
  visibility: hidden;
  position: absolute;
  top: 0;
}

/* labels for the input (radio) boxes - something to click on */
.switches-container label {
  width: 50%;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
  color: var(--switches-label-color);
}

/* switch highlighters wrapper (sliding left / right) 
  - need wrapper to enable the even margins around the highlight box
*/
.switch-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  padding: 0.15rem;
  z-index: 3;
  transition: transform .5s cubic-bezier(.77, 0, .175, 1);
  /* transition: transform 1s; */
}

/* switch box highlighter */
.switch {
  border-radius: 3rem;
  background: var(--switch-bg-color);
  color: #000 !important;
  height: 100%;
}

/* switch box labels
  - default setup
  - toggle afterwards based on radio:checked status 
*/
.switch div {
  width: 100%;
  text-align: center;
  opacity: 0;
  display: block;
  color: var(--switch-text-color) ;
  transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
  will-change: opacity;
  position: absolute;
  top: 0;
  left: 0;
}

/* slide the switch box from right to left */
.switches-container input:nth-of-type(1):checked~.switch-wrapper {
  transform: translateX(0%);
}

/* slide the switch box from left to right */
.switches-container input:nth-of-type(2):checked~.switch-wrapper {
  transform: translateX(100%);
}

/* toggle the switch box labels - first checkbox:checked - show first switch div */
.switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
  opacity: 1;
}

/* toggle the switch box labels - second checkbox:checked - show second switch div */
.switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
  opacity: 1;
}


.login_bg{
  background: rgb(37, 37, 37,0.8);
  color: #ffffff;
  border-radius: 10px 0px 0px 10px;
}
.register_bg{
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  margin-left: -10px;
}


.formpage{
  border: 2px solid rgb(215, 213, 35,0.2);
  border-radius: 10px;
  padding: 10px;
}
.formpage input{
  background: #ffffff;
  color: #252525;
}
.formpage form div{
  flex-direction: column;
  display: flex;
}
.password_input{
  display: flex;
  flex-direction: row !important;
}
.password_input input{
outline: none;
}
.bg_img{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/car_bg.jpg) top no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formpage input::placeholder{
font-size: 14px;
}

.user_dashboard{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/customer_bg.jpg) top no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.user_dashbg{
  border: 1px solid #D7d523;
  border-radius: 10px;
  padding: 30px;
  background: #ffffff;
  height: 480px;
  min-height: 480px;
  max-height: 480px;
  width: 100%;
}
.logoutbtn{
background: #fff;
border: 1px solid #D7d523;
color: #252525;
margin-bottom: 30px;
}
.customerforms input{
background: unset !important;
color: #000;
border-radius: 5px;
padding: 10px;
border: 1px solid #cccccc ;
}
.react-time-picker__wrapper{
  border: 1px solid #cccccc !important;
  background: unset;
color: #000;
border-radius: 5px;
padding: 10px;
}

.react-time-picker__inputGroup__input{
  background: unset;
  color: #000;
  border-radius: none;
  padding: 0px 10px 0px 10px !important;
  border: 0 !important;
  text-align: center;
  min-width: 18px;
  max-width: 18px;
}
.react-time-picker__inputGroup__divider ,.react-time-picker__inputGroup__leadingZero{
   
  border: unset !important;

}
.react-time-picker__inputGroup__input:invalid{
  background: unset !important;
}
.react-time-picker--enabled{
  outline: none !important;
}
.react-time-picker__inputGroup__amPm{
  max-width: unset;
}

.dropdown-card{
  background:  #e0e0e0;
  margin-top: 5px;
  padding: 5px;
  border-bottom: 1px solid #777777;
}
.dropdown-card:hover{
  background: #D7d523;
  cursor: pointer;
}
.dropdown{
  max-height: 200px;
  min-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #252525; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D7d523; }

  .messageBox{
    background: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0px 00px 20px 0px;
  }
  .message{
    background: #252525;
    border: unset;
    border-radius: 0px;
    padding: 20px 10px;
    color: #ffffff;
    text-align: center;
  }

  .lightmessage{
    color: #cccccc;
    background: none;
  text-align: center;
  }
  
.messageBox {
  height: 300px;
  min-height: 300px;
  max-height: 300px;
  width: 300px;
  overflow-y: auto; /* Enable vertical scrollbar when needed */
  border-radius: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  -webkit-animation: bounce .4s ease-in-out;
  transition: 0.3s ease-in-out;
}

.messageBox {
  height: 300px;
  min-height: 300px;
  max-height: 300px;
  width: 300px;
  overflow-y: auto; /* Enable vertical scrollbar when needed */
  border-radius: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  -webkit-animation: bounce .4s ease-in-out;
  transition: 0.3s ease-in-out;
}



@-webkit-keyframes bounce {
  0% {
    
  }
  100% {
    transform:translateY(-20px);
  }
}

.CustomersContainer{
  overflow: scroll;
  width: 500px;
  position: absolute;
  right: 205px;
  bottom: -13px;

}


.driverforms input{
  background: unset !important;
color: #000;
width: 100%;
border-radius: 5px;
padding: 10px;
border: 1px solid #cccccc ;
}
.availablelocate{
  padding: 10px 10px;

h5{
  font-size: 18px;
  color: #cccccc;
  font-weight: 400;
}
.drop-box{
font-size: 14px;
border: 1px solid #f5f5f5;
padding: 10px;
background: #ffffff;
border-radius: 5px;
margin-bottom: 5px;
}
.drop-box p{
  margin-bottom: 0;
}
.drop-box:hover{
  background: rgb(215, 213, 35,0.4);
  border: 1px solid rgb(215, 213, 35,0.4);
  cursor: pointer;
}
.drop-box:active,
.active {
background:  rgb(215, 213, 35,0.4);
border-radius: 5px !important;
}

}
.available_scroll{
  min-height: 280px;
  max-height: 280px;
  overflow: scroll;
  height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
}
.active .drop-box{
background: rgb(215, 213, 35,0.4) !important;
border-radius: 5px !important;
}
.user_addressbox{
  padding: 10px;
  h5{
    font-size: 18px;
    color: #cccccc;
    font-weight: 400;
  }
 
}
.C-list{
  background-color: #ffffff;
  border:1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 10px 3px 10px 3px;
  cursor: pointer;
}
.C-list:hover{
  background:  rgb(215, 213, 35,0.4);
  border: 1px solid rgb(215, 213, 35,0.4);
}
 .userscroll{
  min-height: 280px;
  max-height: 280px;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
}
.C-list p{
margin-bottom: 10px;
font-size: 14px;
font-weight: 600;
}
.C-list span{
  color: #777777;
  font-weight: 400;
}
.notravellers{
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #777777;
  height: 100%;
  
}
.bookingdetails_card{
 background: #252525; 
 border-radius: 10px;
 color: #ffffff;
 padding: 10px;
 margin-top: 10px;
 text-align: center;
}
.bookingdetails_card p{
  font-size: 14px;
  border-radius: 5px;
  color: #252525;
  margin-bottom: 0;
  padding: 10px;

}
.bookingdetails_card h5{
  font-size: 18px;
}
.bookingdetails_card span{
  font-weight: 300 !important;
  color: #252525;

}

.book_details{
  background: #ffffff;
  color: #252525;
  border-radius: 5px;

  .driverforms{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px 10px 10px;
    padding: 10px;
  }
}
.book_details input{
  width: 200px;
  margin-left: 10px;
  background: #ffffff !important;
  
}
.booking_btn{
  background: #252525;
  color: #ffffff;
  font-weight: 400;
  margin-left: 10px;
}
.cancel_booking{
  background:#252525 ;
  color: #ffffff;
  border: 1px solid #252525;
}
.chat_input{
  background: unset ;
  color: #000;
  border-radius: 5px;
  padding: 10px;
border: unset ;
width: 772px;
margin-right: 10px;
background: unset;
border: 1px solid #cccccc;

}
.chat_input_readonly{
  background: unset ;
  color: #777777;
  width: 100%;
  word-break: break-all;
  border-radius: 5px;
  padding: 10px;
border: unset ;
background: unset;
font-size: 14px;
font-weight: 400;
text-align: center;
outline: unset !important;
}
.mr_10{margin-right: 10px;}
.negotiate_btn{
  background: #252525;
  color: #fff;
}
.ReactModal__Content{
  height: 500px;
  min-height: 500px;
  max-height: 500px;
  width: 1080px;
  margin: 0 auto;
}
.ReactModal__Overlay{
  background-color: rgba(30, 30, 30,0.96) !important;
  inset: unset;
}

.send_message{
  padding: 10px;
  background: #ffffff;
  color: #252525;
  font-weight: 400;
  outline: none !important;
  border-radius: 5px;
  border: 1px solid #cccccc;
  width: 100%;
}
.messages{
  font-size: 14px;
  color: #777777;
  background: #f5f5f5;
  padding: 5px;
  margin-bottom: 20px;
  height: 200px;
  min-height: 200px;
  max-height: 200px;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
}
.align_end{align-items: end !important;}


@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}